USE [master]
GO
/****** Objeto: Database [SneakRushDB] Fecha de script: 19/05/2026 19:25:49 ******/
CREATE DATABASE [SneakRushDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SneakRushDB', FILENAME = N'C:\Users\lauch\SneakRushDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SneakRushDB_log', FILENAME = N'C:\Users\lauch\SneakRushDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SneakRushDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SneakRushDB]
GO
/****** Objeto: Table [dbo].[BitacoraEvento] Fecha de script: 19/05/2026 19:25:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraEvento](
	[Numero] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Modulo] [varchar](100) NOT NULL,
	[Descripcion] [varchar](500) NOT NULL,
	[DNI] [varchar](10) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Criticidad] [tinyint] NOT NULL,
 CONSTRAINT [PK_BitacoraEvento] PRIMARY KEY CLUSTERED 
(
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Cliente] Fecha de script: 19/05/2026 19:25:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[DNI] [varchar](10) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Correo] [varchar](500) NOT NULL,
	[Telefono] [varchar](20) NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Idioma] Fecha de script: 19/05/2026 19:25:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[NombreIdioma] [varchar](50) NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Idioma] PRIMARY KEY CLUSTERED 
(
	[NombreIdioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Perfil] Fecha de script: 19/05/2026 19:25:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil](
	[IdPerfil] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Perfil] PRIMARY KEY CLUSTERED 
(
	[IdPerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Perfil_Permiso] Fecha de script: 19/05/2026 19:25:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil_Permiso](
	[IdPerfil] [int] NOT NULL,
	[IdPermiso] [int] NOT NULL,
 CONSTRAINT [PK_Perfil_Permiso] PRIMARY KEY CLUSTERED 
(
	[IdPerfil] ASC,
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Permiso] Fecha de script: 19/05/2026 19:25:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[IdPermiso] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](255) NULL,
 CONSTRAINT [PK_Permiso] PRIMARY KEY CLUSTERED 
(
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuarios] Fecha de script: 19/05/2026 19:25:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[DNI] [varchar](10) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Contraseña] [varchar](64) NOT NULL,
	[Activo] [bit] NOT NULL,
	[Bloqueado] [bit] NOT NULL,
	[IntentosFallidos] [int] NOT NULL,
	[Rol] [varchar](50) NOT NULL,
	[DV] [char](1) NOT NULL,
	[IdPerfil] [int] NULL,
	[NombreIdioma] [varchar](50) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BitacoraEvento] ON 

INSERT [dbo].[BitacoraEvento] ([Numero], [Fecha], [Modulo], [Descripcion], [DNI], [NombreUsuario], [Criticidad]) VALUES (1, CAST(N'2026-05-02T19:47:11.923' AS DateTime), N'Login', N'Intento fallido 1/3 para lponce.', N'30000006', N'lponce', 1)
INSERT [dbo].[BitacoraEvento] ([Numero], [Fecha], [Modulo], [Descripcion], [DNI], [NombreUsuario], [Criticidad]) VALUES (2, CAST(N'2026-05-02T19:47:18.957' AS DateTime), N'Login', N'Intento fallido 2/3 para lponce.', N'30000006', N'lponce', 1)
INSERT [dbo].[BitacoraEvento] ([Numero], [Fecha], [Modulo], [Descripcion], [DNI], [NombreUsuario], [Criticidad]) VALUES (1002, CAST(N'2026-05-02T19:58:27.257' AS DateTime), N'Login', N'Usuario lponce bloqueado por 3 intentos fallidos.', N'30000006', N'lponce', 1)
GO
SET IDENTITY_INSERT [dbo].[BitacoraEvento] OFF
GO
INSERT [dbo].[Cliente] ([DNI], [Nombre], [Apellido], [Correo], [Telefono]) VALUES (N'40000001', N'Ana', N'Lopez', N'CIFRADO_AES_PLACEHOLDER', N'1155551111')
INSERT [dbo].[Cliente] ([DNI], [Nombre], [Apellido], [Correo], [Telefono]) VALUES (N'40000002', N'Pedro', N'Ramirez', N'CIFRADO_AES_PLACEHOLDER', N'1155552222')
GO
INSERT [dbo].[Idioma] ([NombreIdioma], [Tipo]) VALUES (N'Español', N'Principal')
INSERT [dbo].[Idioma] ([NombreIdioma], [Tipo]) VALUES (N'Inglés', N'Secundario')
INSERT [dbo].[Idioma] ([NombreIdioma], [Tipo]) VALUES (N'Portugués', N'Secundario')
GO
SET IDENTITY_INSERT [dbo].[Perfil] ON 

INSERT [dbo].[Perfil] ([IdPerfil], [Nombre]) VALUES (1, N'Administrador')
INSERT [dbo].[Perfil] ([IdPerfil], [Nombre]) VALUES (2, N'Vendedor')
INSERT [dbo].[Perfil] ([IdPerfil], [Nombre]) VALUES (3, N'Cajero')
SET IDENTITY_INSERT [dbo].[Perfil] OFF
GO
INSERT [dbo].[Perfil_Permiso] ([IdPerfil], [IdPermiso]) VALUES (1, 1)
INSERT [dbo].[Perfil_Permiso] ([IdPerfil], [IdPermiso]) VALUES (1, 2)
INSERT [dbo].[Perfil_Permiso] ([IdPerfil], [IdPermiso]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Permiso] ON 

INSERT [dbo].[Permiso] ([IdPermiso], [Nombre], [Descripcion]) VALUES (1, N'GESTION_USUARIOS', N'Alta, baja y modificacion de usuarios')
INSERT [dbo].[Permiso] ([IdPermiso], [Nombre], [Descripcion]) VALUES (2, N'VENTAS_POS', N'Operar el punto de venta')
INSERT [dbo].[Permiso] ([IdPermiso], [Nombre], [Descripcion]) VALUES (3, N'COMPRAS_PROVEEDORES', N'Gestionar ordenes de compra')
SET IDENTITY_INSERT [dbo].[Permiso] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [DNI], [Nombre], [Apellido], [Email], [NombreUsuario], [Contraseña], [Activo], [Bloqueado], [IntentosFallidos], [Rol], [DV], [IdPerfil], [NombreIdioma]) VALUES (16, N'87654321', N'Prueba', N'Test', N'PruebaTest@sneakrush.com', N'Prueba.Test', N'01FAF43180E9BF0C0B8BDC6C4DF089F3E59AF593792F97A0E1E6C36636E5D09F', 1, 0, 0, N'Analista', N'0', NULL, NULL)
INSERT [dbo].[Usuarios] ([IdUsuario], [DNI], [Nombre], [Apellido], [Email], [NombreUsuario], [Contraseña], [Activo], [Bloqueado], [IntentosFallidos], [Rol], [DV], [IdPerfil], [NombreIdioma]) VALUES (17, N'12345678', N'Lautaro', N'Ponce', N'LautaroPoncet@sneakrush.com', N'Lautaro.Ponce', N'B2C3ACC82F3E38FB8F3932737D6333A121864CF36AC67968E38DBB1EE29F2C3D', 1, 0, 0, N'Administrador', N'0', NULL, NULL)
INSERT [dbo].[Usuarios] ([IdUsuario], [DNI], [Nombre], [Apellido], [Email], [NombreUsuario], [Contraseña], [Activo], [Bloqueado], [IntentosFallidos], [Rol], [DV], [IdPerfil], [NombreIdioma]) VALUES (18, N'23456789', N'Santiago', N'Alvarez', N'SantiagoAlvarez@sneakrush.com', N'Santiago.Alvarez', N'340DDFAB9CF670475427BE54BBD4A99A46A207996658716156CCD69DFFB06C9D', 1, 0, 0, N'Cajero', N'0', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Usuarios_DNI] Fecha de script: 19/05/2026 19:25:49 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_Usuarios_DNI] UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Usuarios_Email] Fecha de script: 19/05/2026 19:25:49 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_Usuarios_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Usuarios_Usuario] Fecha de script: 19/05/2026 19:25:49 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_Usuarios_Usuario] UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BitacoraEvento] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[BitacoraEvento] ADD  DEFAULT ('') FOR [NombreUsuario]
GO
ALTER TABLE [dbo].[BitacoraEvento] ADD  DEFAULT ((1)) FOR [Criticidad]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [Bloqueado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [IntentosFallidos]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ('0') FOR [DV]
GO
ALTER TABLE [dbo].[Perfil_Permiso]  WITH CHECK ADD  CONSTRAINT [FK_PP_Perfil] FOREIGN KEY([IdPerfil])
REFERENCES [dbo].[Perfil] ([IdPerfil])
GO
ALTER TABLE [dbo].[Perfil_Permiso] CHECK CONSTRAINT [FK_PP_Perfil]
GO
ALTER TABLE [dbo].[Perfil_Permiso]  WITH CHECK ADD  CONSTRAINT [FK_PP_Permiso] FOREIGN KEY([IdPermiso])
REFERENCES [dbo].[Permiso] ([IdPermiso])
GO
ALTER TABLE [dbo].[Perfil_Permiso] CHECK CONSTRAINT [FK_PP_Permiso]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Idioma] FOREIGN KEY([NombreIdioma])
REFERENCES [dbo].[Idioma] ([NombreIdioma])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Idioma]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Perfil] FOREIGN KEY([IdPerfil])
REFERENCES [dbo].[Perfil] ([IdPerfil])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Perfil]
GO
USE [master]
GO
