USE [master]
GO
/****** Objeto: Database [SneakRushDB] Fecha de script: 07/09/2026 15:16:49 ******/
CREATE DATABASE [SneakRushDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SneakRushDB', FILENAME = N'C:\Users\lauch\SneakRushDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SneakRushDB_log', FILENAME = N'C:\Users\lauch\SneakRushDB_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SneakRushDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SneakRushDB]
GO
/****** Objeto: Table [dbo].[BitacoraEvento] Fecha de script: 07/09/2026 15:16:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraEvento](
	[Numero] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Modulo] [varchar](100) NOT NULL,
	[Descripcion] [varchar](500) NOT NULL,
	[DNI] [varchar](10) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Criticidad] [tinyint] NOT NULL,
	[DV] [varchar](255) NULL,
 CONSTRAINT [PK_BitacoraEvento] PRIMARY KEY CLUSTERED 
(
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Carrito] Fecha de script: 07/09/2026 15:16:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrito](
	[IdCarrito] [int] IDENTITY(1,1) NOT NULL,
	[DNICliente] [varchar](10) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[DV] [varchar](255) NULL,
 CONSTRAINT [PK_Carrito] PRIMARY KEY CLUSTERED 
(
	[IdCarrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Cliente] Fecha de script: 07/09/2026 15:16:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[DNI] [varchar](10) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Correo] [varchar](500) NOT NULL,
	[Telefono] [varchar](20) NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DetalleCarrito] Fecha de script: 07/09/2026 15:16:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCarrito](
	[IdDetalle] [int] IDENTITY(1,1) NOT NULL,
	[IdCarrito] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
	[DV] [varchar](255) NULL,
 CONSTRAINT [PK_DetalleCarrito] PRIMARY KEY CLUSTERED 
(
	[IdDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DV] Fecha de script: 07/09/2026 15:16:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DV](
	[Tabla] [varchar](50) NOT NULL,
	[DVH] [varchar](255) NOT NULL,
	[DVV] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Tabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Familia] Fecha de script: 07/09/2026 15:16:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia](
	[IdFamilia] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[DV] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFamilia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Familia_Permiso] Fecha de script: 07/09/2026 15:16:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia_Permiso](
	[IdFamilia] [int] NOT NULL,
	[IdPermiso] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFamilia] ASC,
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Idioma] Fecha de script: 07/09/2026 15:16:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[NombreIdioma] [varchar](50) NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
	[DV] [varchar](255) NULL,
 CONSTRAINT [PK_Idioma] PRIMARY KEY CLUSTERED 
(
	[NombreIdioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Perfil] Fecha de script: 07/09/2026 15:16:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil](
	[IdPerfil] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[DV] [varchar](255) NULL,
 CONSTRAINT [PK_Perfil] PRIMARY KEY CLUSTERED 
(
	[IdPerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Perfil_Familia] Fecha de script: 07/09/2026 15:16:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil_Familia](
	[IdPerfil] [int] NOT NULL,
	[IdFamilia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPerfil] ASC,
	[IdFamilia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Perfil_Permiso] Fecha de script: 07/09/2026 15:16:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil_Permiso](
	[IdPerfil] [int] NOT NULL,
	[IdPermiso] [int] NOT NULL,
 CONSTRAINT [PK_Perfil_Permiso] PRIMARY KEY CLUSTERED 
(
	[IdPerfil] ASC,
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Permiso] Fecha de script: 07/09/2026 15:16:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[IdPermiso] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](255) NULL,
	[DV] [varchar](255) NULL,
 CONSTRAINT [PK_Permiso] PRIMARY KEY CLUSTERED 
(
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Producto] Fecha de script: 07/09/2026 15:16:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Marca] [varchar](50) NOT NULL,
	[Modelo] [varchar](50) NOT NULL,
	[Color] [varchar](30) NOT NULL,
	[Talle] [varchar](10) NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[DV] [varchar](255) NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuarios] Fecha de script: 07/09/2026 15:16:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[DNI] [varchar](10) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Contraseña] [varchar](64) NOT NULL,
	[Activo] [bit] NOT NULL,
	[Bloqueado] [bit] NOT NULL,
	[IntentosFallidos] [int] NOT NULL,
	[Rol] [varchar](50) NOT NULL,
	[DV] [varchar](255) NULL,
	[IdPerfil] [int] NULL,
	[NombreIdioma] [varchar](50) NULL,
	[DebeCambiarContraseña] [bit] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BitacoraEvento] ON 

INSERT [dbo].[BitacoraEvento] ([Numero], [Fecha], [Modulo], [Descripcion], [DNI], [NombreUsuario], [Criticidad], [DV]) VALUES (1, CAST(N'2026-05-02T19:47:11.923' AS DateTime), N'Login', N'Intento fallido 1/3 para lponce.', N'30000006', N'lponce', 1, N'D92C6E2C772C18485FA5A1D6BA11088556A6DA8BEEF049D7F5CBF608AEECD417')
INSERT [dbo].[BitacoraEvento] ([Numero], [Fecha], [Modulo], [Descripcion], [DNI], [NombreUsuario], [Criticidad], [DV]) VALUES (2, CAST(N'2026-05-02T19:47:18.957' AS DateTime), N'Login', N'Intento fallido 2/3 para lponce.', N'30000006', N'lponce', 1, N'8841563332A8D400D3EF42E1E2EFDC4BAEB5C857C5150F7B59FD5F1316C6A992')
INSERT [dbo].[BitacoraEvento] ([Numero], [Fecha], [Modulo], [Descripcion], [DNI], [NombreUsuario], [Criticidad], [DV]) VALUES (1002, CAST(N'2026-05-02T19:58:27.257' AS DateTime), N'Login', N'Usuario lponce bloqueado por 3 intentos fallidos.', N'30000006', N'lponce', 1, N'6C6684B0573361AA6E3B9D339739D94A40D7141C5E378B397D54DA9037909417')
GO
SET IDENTITY_INSERT [dbo].[BitacoraEvento] OFF
GO
INSERT [dbo].[Cliente] ([DNI], [Nombre], [Apellido], [Correo], [Telefono]) VALUES (N'', N'Ana', N'Lopez', N'CIFRADO_AES_PLACEHOLDER', N'1155551111')
INSERT [dbo].[Cliente] ([DNI], [Nombre], [Apellido], [Correo], [Telefono]) VALUES (N'40000002', N'Pedro', N'Ramirez', N'CIFRADO_AES_PLACEHOLDER', N'1155552222')
GO
INSERT [dbo].[DV] ([Tabla], [DVH], [DVV]) VALUES (N'BitacoraEvento', N'A45435595DA452329314CB26FA0A34399F42E79094F518B103CF82C399DFD67A', N'B65C3C838F55FD6EA9B4B412AFEA767C51BA2660637DBB8B35C88DCFB77A53DD')
INSERT [dbo].[DV] ([Tabla], [DVH], [DVV]) VALUES (N'Familia', N'25FC01C2A4B5AD6DB78467A26923C9252EAD46A51DE2FDBDB5118DECC246C290', N'31F82FE1D978158D99C82CF76FADF13B8FA502622FB19A0BBC3F86DEECB59411')
INSERT [dbo].[DV] ([Tabla], [DVH], [DVV]) VALUES (N'Familia_Permiso', N'B4996EF8D57620F5D2F7205BA12ADE7B7D03E3B2D3EA85E464314CA07CDDBC8A', N'D6E9192AE89C13E1A280129BCB4B03122EEBEEF08E8FE490D8B325C0629EA411')
GO
SET IDENTITY_INSERT [dbo].[Familia] ON 

INSERT [dbo].[Familia] ([IdFamilia], [Nombre], [DV]) VALUES (4, N'Administrador', N'5F704802F58B59D18561B08CA8175BD0B06619685D00B4A62E6A162705D39393')
INSERT [dbo].[Familia] ([IdFamilia], [Nombre], [DV]) VALUES (5, N'Maestro', N'1F602F786AFD9DFA39D45D55DD03A7300C426779AA23794CF5296AC48248B746')
INSERT [dbo].[Familia] ([IdFamilia], [Nombre], [DV]) VALUES (6, N'Compra', N'C9A8F296BFF5EF686FEF8A9571F26594DC9BDD056E7EBAEA697CE00ED546C72F')
SET IDENTITY_INSERT [dbo].[Familia] OFF
GO
INSERT [dbo].[Familia_Permiso] ([IdFamilia], [IdPermiso]) VALUES (4, 1)
INSERT [dbo].[Familia_Permiso] ([IdFamilia], [IdPermiso]) VALUES (4, 2)
INSERT [dbo].[Familia_Permiso] ([IdFamilia], [IdPermiso]) VALUES (4, 3)
GO
INSERT [dbo].[Idioma] ([NombreIdioma], [Tipo], [DV]) VALUES (N'Español', N'Principal', N'B4CED9BB1C9EF2F70451A9D5D2F1796EF6DB5E38B33899008C30EC9C2D358E57')
INSERT [dbo].[Idioma] ([NombreIdioma], [Tipo], [DV]) VALUES (N'Inglés', N'Secundario', N'6BCBE7B991851122C3AFF649368A39314901A82F7D248249A5A978548864F426')
INSERT [dbo].[Idioma] ([NombreIdioma], [Tipo], [DV]) VALUES (N'Portugués', N'Secundario', N'0CC6B12589C99FFD3AEBE8F08FA1D39C3FDD9203F1C8E2E5191882D7330058BE')
GO
SET IDENTITY_INSERT [dbo].[Perfil] ON 

INSERT [dbo].[Perfil] ([IdPerfil], [Nombre], [DV]) VALUES (2, N'Vendedor', N'E4FDAD19985F98E37809977238075BA6B79CD2D551C449E69A546D22EDDAEB3C')
INSERT [dbo].[Perfil] ([IdPerfil], [Nombre], [DV]) VALUES (3, N'Cajero', N'4A2A46A3B05291CD9478760062680D6872FFA63E1611AB661E5C4E55687BD24D')
INSERT [dbo].[Perfil] ([IdPerfil], [Nombre], [DV]) VALUES (4, N'Encargado Deposito', N'56E30BDFA3A1D67E069FBFD75A7343A5D42A5F761A20FF0F7944966BF9210BDE')
SET IDENTITY_INSERT [dbo].[Perfil] OFF
GO
INSERT [dbo].[Perfil_Familia] ([IdPerfil], [IdFamilia]) VALUES (2, 7)
INSERT [dbo].[Perfil_Familia] ([IdPerfil], [IdFamilia]) VALUES (3, 7)
INSERT [dbo].[Perfil_Familia] ([IdPerfil], [IdFamilia]) VALUES (6, 4)
GO
INSERT [dbo].[Perfil_Permiso] ([IdPerfil], [IdPermiso]) VALUES (3, 9)
INSERT [dbo].[Perfil_Permiso] ([IdPerfil], [IdPermiso]) VALUES (6, 52)
INSERT [dbo].[Perfil_Permiso] ([IdPerfil], [IdPermiso]) VALUES (6, 53)
GO
SET IDENTITY_INSERT [dbo].[Permiso] ON 

INSERT [dbo].[Permiso] ([IdPermiso], [Nombre], [Descripcion], [DV]) VALUES (1, N'GESTION_USUARIOS', N'Permite abrir el form de gestion de usuarios', N'F6D71DA9F4E0D6A24C4F6A5EC1546AD3C490E9B7E24CDF23B1C61D02EB9B587D')
INSERT [dbo].[Permiso] ([IdPermiso], [Nombre], [Descripcion], [DV]) VALUES (2, N'GESTION_FAMILIAS', N'Permite abrir el form de gestion de familias', N'C940FD73A3CAF777D84A6381A1442EB118422DC34950851865363BA2C5F1B846')
INSERT [dbo].[Permiso] ([IdPermiso], [Nombre], [Descripcion], [DV]) VALUES (3, N'GESTION_ROLES', N'Permite abrir el form de gestion de perfiles', N'F612F8076A85C5891C9934A2150C71CEDD0E7511AC610C6EDDC82EF9B79D9E83')
SET IDENTITY_INSERT [dbo].[Permiso] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([IdProducto], [Marca], [Modelo], [Color], [Talle], [Precio], [Stock], [DV]) VALUES (1, N'Nike', N'Air Max 90', N'Negro', N'42', CAST(120000.00 AS Decimal(18, 2)), 8, NULL)
INSERT [dbo].[Producto] ([IdProducto], [Marca], [Modelo], [Color], [Talle], [Precio], [Stock], [DV]) VALUES (2, N'Adidas', N'Superstar', N'Blanco', N'41', CAST(95000.00 AS Decimal(18, 2)), 5, NULL)
INSERT [dbo].[Producto] ([IdProducto], [Marca], [Modelo], [Color], [Talle], [Precio], [Stock], [DV]) VALUES (3, N'Puma', N'RS-X', N'Gris', N'43', CAST(110000.00 AS Decimal(18, 2)), 0, NULL)
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [DNI], [Nombre], [Apellido], [Email], [NombreUsuario], [Contraseña], [Activo], [Bloqueado], [IntentosFallidos], [Rol], [DV], [IdPerfil], [NombreIdioma], [DebeCambiarContraseña]) VALUES (16, N'87654345', N'Prueba', N'Test', N'PruebaTest@sneakrush.com', N'Prueba.Test', N'6361B7B5322ACB07CED00A35A85A4CC5183DA3A42EDE0B07F578067A18425A55', 1, 0, 0, N'Vendedor', N'EBACE1D84C9CD6986D6A0ED413584C3F11E9DC6670A0CFB09E122F9DB985D90D', 2, N'Español', 0)
INSERT [dbo].[Usuarios] ([IdUsuario], [DNI], [Nombre], [Apellido], [Email], [NombreUsuario], [Contraseña], [Activo], [Bloqueado], [IntentosFallidos], [Rol], [DV], [IdPerfil], [NombreIdioma], [DebeCambiarContraseña]) VALUES (17, N'12345678', N'Lautaro', N'Ponce', N'LautaroPoncet@sneakrush.com', N'Lautaro.Ponce', N'B2C3ACC82F3E38FB8F3932737D6333A121864CF36AC67968E38DBB1EE29F2C3D', 1, 0, 0, N'Administrador', N'49C64827B53C94B62662B598429A9CB9AD3F84B71A19A0956C2A38B8BCE8CB55', 6, N'Español', 0)
INSERT [dbo].[Usuarios] ([IdUsuario], [DNI], [Nombre], [Apellido], [Email], [NombreUsuario], [Contraseña], [Activo], [Bloqueado], [IntentosFallidos], [Rol], [DV], [IdPerfil], [NombreIdioma], [DebeCambiarContraseña]) VALUES (25, N'83746291', N'Eliminar', N'Pruebas', N'Eliminar@sneakrush.com', N'Eliminar.Prueba', N'8CE4C066792289F5195A2E07ACF1CBF0D32130E8CFAF2FA5981003C9210045A0', 1, 0, 0, N'Encargado Deposito', N'4374ADD568F88A8874E33783518A25EBE57D784ED0470715A56E47A949360221', 4, NULL, 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Usuarios_DNI] Fecha de script: 07/09/2026 15:16:50 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_Usuarios_DNI] UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Usuarios_Email] Fecha de script: 07/09/2026 15:16:50 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_Usuarios_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Usuarios_Usuario] Fecha de script: 07/09/2026 15:16:50 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_Usuarios_Usuario] UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BitacoraEvento] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[BitacoraEvento] ADD  DEFAULT ('') FOR [NombreUsuario]
GO
ALTER TABLE [dbo].[BitacoraEvento] ADD  DEFAULT ((1)) FOR [Criticidad]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [Bloqueado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [IntentosFallidos]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [DebeCambiarContraseña]
GO
ALTER TABLE [dbo].[Carrito]  WITH CHECK ADD  CONSTRAINT [FK_Carrito_Cliente] FOREIGN KEY([DNICliente])
REFERENCES [dbo].[Cliente] ([DNI])
GO
ALTER TABLE [dbo].[Carrito] CHECK CONSTRAINT [FK_Carrito_Cliente]
GO
ALTER TABLE [dbo].[DetalleCarrito]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCarrito_Carrito] FOREIGN KEY([IdCarrito])
REFERENCES [dbo].[Carrito] ([IdCarrito])
GO
ALTER TABLE [dbo].[DetalleCarrito] CHECK CONSTRAINT [FK_DetalleCarrito_Carrito]
GO
ALTER TABLE [dbo].[DetalleCarrito]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCarrito_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[DetalleCarrito] CHECK CONSTRAINT [FK_DetalleCarrito_Producto]
GO
ALTER TABLE [dbo].[Familia_Permiso]  WITH CHECK ADD FOREIGN KEY([IdFamilia])
REFERENCES [dbo].[Familia] ([IdFamilia])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Familia_Permiso]  WITH CHECK ADD FOREIGN KEY([IdPermiso])
REFERENCES [dbo].[Permiso] ([IdPermiso])
GO
ALTER TABLE [dbo].[Perfil_Familia]  WITH CHECK ADD FOREIGN KEY([IdFamilia])
REFERENCES [dbo].[Familia] ([IdFamilia])
GO
ALTER TABLE [dbo].[Perfil_Familia]  WITH CHECK ADD FOREIGN KEY([IdPerfil])
REFERENCES [dbo].[Perfil] ([IdPerfil])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Perfil_Permiso]  WITH CHECK ADD  CONSTRAINT [FK_PP_Perfil] FOREIGN KEY([IdPerfil])
REFERENCES [dbo].[Perfil] ([IdPerfil])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Perfil_Permiso] CHECK CONSTRAINT [FK_PP_Perfil]
GO
ALTER TABLE [dbo].[Perfil_Permiso]  WITH CHECK ADD  CONSTRAINT [FK_PP_Permiso] FOREIGN KEY([IdPermiso])
REFERENCES [dbo].[Permiso] ([IdPermiso])
GO
ALTER TABLE [dbo].[Perfil_Permiso] CHECK CONSTRAINT [FK_PP_Permiso]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Idioma] FOREIGN KEY([NombreIdioma])
REFERENCES [dbo].[Idioma] ([NombreIdioma])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Idioma]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Perfil] FOREIGN KEY([IdPerfil])
REFERENCES [dbo].[Perfil] ([IdPerfil])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Perfil]
GO
USE [master]
GO
